

.menu-bar {
    position: absolute;
    text-align: center;
    width: 100%;
    background: transparent;
    border: 2px solid rgba(red, green, blue, alpha);
    backdrop-filter: blur(50px);
    box-shadow: 0 0 10px rgba(red, green, blue, alpha);
    border-radius: 10px;
    padding: 30px 40px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color:#fff;
    text-decoration:wavy;
    font-size: 20px;
}

nav ul li a:hover{
    color: black;
}