@import url("https://fonts.googleapis.com/css?family=Inconsolata");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background-color: black;
    background-image: url('IMG_3287.jpg');
    background-size:150ch;
    background-position: center;
    background-repeat: no-repeat;
}



.player{
    color: aliceblue;
    position: absolute;
    top: 250px;
}




